@use '@/styles/variables/colors';
@use '@/styles/variables/fonts';

.container {
	width: 100%;
	display: block;
	container-type: inline-size;
	container-name: fiction-card;
	position: relative;
	aspect-ratio: 27/40;
	overflow: hidden;
}

.card {
	border-radius: 10px;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px 10px;
	aspect-ratio: 27/40;
	transition: transform 0.3s ease, background-color 0.3s ease;

	@container fiction-card (min-width: 180px) {
		padding: 20px 10px;
	}

	@container fiction-card (min-width: 240px) {
		padding: 30px 10px;
	}

	&__title {
		line-height: 115%;
		font-family: fonts.$font-primary;
		font-size: fonts.$size-sm;
		text-transform: uppercase;
		margin-bottom: 8px;

		@container fiction-card (min-width: 180px) {
			margin-bottom: 10px;
			font-size: fonts.$size-base;
		}

		@container fiction-card (min-width: 200px) {
			margin-bottom: 12px;
			font-size: fonts.$size-lg;
		}

		@container fiction-card (min-width: 240px) {
			margin-bottom: 12px;
			font-size: fonts.$size-2xl;
		}
	}
}

.info {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 10px;
	column-gap: 10px;
	font-size: fonts.$size-xs;

	@container fiction-card (min-width: 180px) {
		font-size: fonts.$size-sm;
		column-gap: 15px;
	}

	@container fiction-card (min-width: 200px) {
		font-size: fonts.$size-sm;
	}

	@container fiction-card (min-width: 240px) {
		font-size: fonts.$size-base;
		column-gap: 25px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
	}

	&__item-time {
		white-space: nowrap;
	}

	&__item-icon {
		color: colors.$primary;
		width: 14px;
		height: 14px;
		flex-shrink: 0;
	
		@container fiction-card (min-width: 180px) {
			width: 16px;
			height: 16px;
		}

		@container fiction-card (min-width: 200px) {
			width: 18px;
			height: 18px;
		}

		@container fiction-card (min-width: 240px) {
			width: 20px;
			height: 20px;
		}
	}

	&__item-text {
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		word-break: break-all;

		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__item-star {
		fill: colors.$primary;
	}
}

.studio-popover {
	width: 200px;

	&__content {
		padding: 10px;
		border-radius: 5px;
		background: colors.$primary-bg;
		word-break: break-all;
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	border-radius: 10px;
	overflow: hidden;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	&__gradient {
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}

.animationBackground {
	width: 60%;
	height: 60%;
	// z-index: 10;
	position: relative;
}


.animationHover {
	width: 100%;
	height: 60%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.skeleton {
	&__card {		
		background-color: hsl(219, 30%, 15%);
	}

	&__title {
		height: 26px;
		width: 80%;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	&__about {
		height: 20px;
		width: 100%;
		border-radius: 5px;
	}
}

.popup {
	position: absolute;
	top: 100%;
}

