@use '@/styles/variables/fonts';
@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';
@use '@/styles/variables/mixins';

.container {
	@include mixins.account-block();
	@include mixins.flex(
		$justify: flex-start,
		$align: flex-start,
		$direction: column,
		$gap: 20px
	);
	width: 100%;
	padding: 30px 30px 40px;

	@media (max-width: breakpoints.$xs) {
		gap: 10px;
		padding: 20px 25px;
	}
}

.title {
	font-family: fonts.$font-primary;
	text-transform: uppercase;
	font-size: 30px;

	@media (max-width: breakpoints.$xs) {
		font-size: 16px;
	}
}

.description {
	font-family: fonts.$font-secondary;
	font-size: 16px;

	@media (max-width: breakpoints.$xs) {
		font-size: fonts.$size-sm
	}
}

.btn {
	width: 100%;
	font-size: 24px !important;
	line-height: 28.8px !important;
	padding: 13px 0 !important;
	height: 100% !important;
	max-width: 180px;
	background: #f83440;
	color: #f2f2f2;
	transition: 0.4s;

	&:hover {
		background: #f83440 !important;
		opacity: 0.8;
	}

	@media (max-width: breakpoints.$xs) {
		max-width: 120px;
		font-size: 16px !important;
		line-height: 19.2px !important;
	}
}

.modal {
	&__title {
		font-family: fonts.$font-primary;
		text-transform: uppercase;
		font-size: fonts.$size-2xl;


		@media screen and (min-width: breakpoints.$lg) {
			font-size: fonts.$size-3xl;
		}
	}

	&__content {
		margin-bottom: 20px;
		line-height: 160%;
		font-size: fonts.$size-sm;


		@media screen and (min-width: breakpoints.$lg) {
			font-size: fonts.$size-base;
		}
	}

	&__footer {
		display: flex;
		gap: 20px;
		justify-content: flex-end;
	}
}
