@use '@/styles/variables/fonts';
@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	inset: 0;
}

.content {
	position: fixed;
	max-width: 500px;
	left: 0;
	right: 0;
	bottom: 20px;
	width: 80%;
	margin: 0 auto;
	outline: none;

}

.handle {
	background: colors.$gray;
	height: 3px !important;
	width: 100px !important;
	
}

.inner-content {
	max-height: 80vh;
	overflow-y: auto;
	background-color: colors.$primary-bg;
	border-radius: 10px;
	padding: 12px 16px 16px 16px;
}
