// Descriptive
$highlight: #333333;
$primary:  #faff00;
$dark-main: #0d141f;
$primary-bg: #151b26;
$text-primary: #f2f2f2;
$gray: #CBD5E1;
$red: #f83440;


// Text 
$text-dark: $dark-main;


// Backgrounds
$active-bg: $highlight;
$primary-bg: $primary-bg;
$accent-bg: $primary;

// Border
$border: $highlight;
$border-primary: $primary;

