$font-secondary: var(--font-secondary);
$font-primary: var(--font-primary);

// Sizes
$size-8xl: 5rem;
$size-7xl: 4.5rem;
$size-6xl: 3.75rem;
$size-5xl: 3rem;
$size-4xl: 2.25rem;
$size-3xl: 1.875rem; 
$size-2xl: 1.5rem; //24px
$size-xl: 1.25rem; // 20px
$size-lg: 1.125rem; // 18px
$size-base: 1.125rem;; //16px
$size-ms: 1rem;
$size-sm: 0.875rem; //13 px
$size-xs: 0.688rem; // 11px
$size-2xs: 0.625rem; //10 px
$size-3xs: 0.5rem; // 8px
