@use '@/styles/variables/breakpoints';


.btn {
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
    stroke-width: 0px !important;

	@media (min-width: breakpoints.$sm) {
		width: 1.5rem;
		height: 1.5rem;
	}

	@media (min-width: breakpoints.$lg) {
		width: 2rem;
		height: 2rem;
	}

	@media (min-width: breakpoints.$xl) {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.item {
	width: 110px;
}
