@use '@/styles/variables/fonts';
@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	@media screen and (min-width: breakpoints.$md) {
		display: none !important;
	}
}

.overlay {
	z-index: 9998;
	background-color: transparentize(#000, 0.2);
}

.body {
	z-index: 9999;
	padding: 20px;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: hidden;
}

.input {
	margin-bottom: 20px;
}

.content {
	flex: 1;
	overflow-y: auto;
}

.not-found {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: colors.$gray;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__icon {
		width: 3.25rem;
		height: 3.25rem;
	}

	&__text {
		margin-top: 10px;
		font-size: fonts.$size-ms;
	}
}

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	&__icon {
		width: 3.25rem;
		height: 3.25rem;
	}
}
