@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';


.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: transparentize(colors.$text-primary, 0.2);
	color: colors.$text-primary;
	width: 2rem;
	height: 2rem;

	@media (min-width: breakpoints.$sm) {
		width: 2.5rem;
		height: 2.5rem;
	}

	@media (min-width: breakpoints.$lg) {
		width: 3rem;
		height: 3rem;
	}

	@media (min-width: breakpoints.$xl) {
		width: 3.5rem;
		height: 3.5rem;
	}
}
