@use '@/styles/variables/fonts';
@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';
@use '@/styles/variables/mixins';

.container {
	@include mixins.account-block();
	@include mixins.flex(
		$justify: flex-start,
		$align: flex-start,
		$direction: column,
		$gap: 20px
	);
	width: 100%;
	padding: 30px 30px 40px;

	@media (max-width: breakpoints.$xs) {
		gap: 10px;
		padding: 20px 25px;
	}
}

.title {
	font-family: fonts.$font-primary;
	text-transform: uppercase;
	font-size: 30px;

	@media (max-width: breakpoints.$xs) {
		font-size: 16px;
	}
}

.description {
	font-family: fonts.$font-secondary;
	font-size: 16px;
	margin-bottom: 10px;

	@media (max-width: breakpoints.$xs) {
		font-size: fonts.$size-sm
	}
}

.btn {
	width: 100%;
	font-size: 24px !important;
	line-height: 28.8px !important;
	padding: 13px 0 !important;
	height: 100% !important;
	max-width: 180px;
	background: #f83440;
	color: #f2f2f2;
	transition: 0.4s;

	&:hover {
		background: #f83440 !important;
		opacity: 0.8;
	}

	@media (max-width: breakpoints.$xs) {
		max-width: 120px;
		font-size: 16px !important;
		line-height: 19.2px !important;
	}
}

.modal {
	&__title {
		font-family: fonts.$font-primary;
		text-transform: uppercase;
		font-size: fonts.$size-2xl;


		@media screen and (min-width: breakpoints.$lg) {
			font-size: fonts.$size-3xl;
		}
	}

	&__content {
		margin-bottom: 20px;
		line-height: 160%;
		font-size: fonts.$size-sm;


		@media screen and (min-width: breakpoints.$lg) {
			font-size: fonts.$size-base;
		}
	}

	&__footer {
		display: flex;
		gap: 20px;
		justify-content: flex-end;
	}
}


.mobile {
	display: block;
	@media screen and (min-width: breakpoints.$md) {
		display: none;
	}

	&__overlay {
		position: fixed;
		inset: 0;
		z-index: 990;
		background: rgb(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
	}
}

.filters-mobile {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background: #000;
	width: 100%;
	background: #ffffff08;
	background-color: colors.$primary-bg;

	// font-family: fonts.$font-primary;
	max-height: 90%;

	&__drawer-content {
		overflow: auto;
		display: flex;
		flex-direction: column;
		padding: 20px;
	}

	&__header {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	&__title {
		text-transform: uppercase;
		font-family: fonts.$font-primary;
		line-height: 115%;
		font-size: fonts.$size-3xl;
	}

	&__close {
		padding: 10px 20px;
		width: 100px;
		color: colors.$dark-main;
		svg {
			color: colors.$text-primary;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}


	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}



.filter-item {
	&__title {
		text-transform: uppercase;
		font-family: fonts.$font-primary;
		font-size: fonts.$size-sm;
		margin-bottom: 10px;

		@media (min-width: breakpoints.$md) {
			font-size: fonts.$size-xl;
			margin-bottom: 5px;
		}

		@media (min-width: breakpoints.$lg) {
			font-size: fonts.$size-2xl;
		}

		@media (min-width: breakpoints.$xxl) {
			font-size: fonts.$size-3xl;
		}
	}

	&__input {
		width: 100% !important;

		@media (min-width: breakpoints.$md) {
			margin-bottom: 5px;
		}
	}

	&__input-trigger_active {
		border-color: colors.$primary !important;
	}
}

.filters-btn {
	&__motion {
		display: flex;
		align-items: center;
	}

}