@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';

.btn {
}

.icon {
	width: 1.5rem;
	height: 1.5rem;

	@media (min-width: breakpoints.$sm) {
		width: 1.75rem;
		height: 1.75rem;
	}

	@media (min-width: breakpoints.$lg) {
		width: 2.25rem;
		height: 2.25rem;
	}

	@media (min-width: breakpoints.$xl) {
		width: 2.75rem;
		height: 2.75rem;
	}
}
