@use '@/styles/variables/colors';
@use '@/styles/variables/fonts';
@use '@/styles/variables/breakpoints';

.section {
	background-color: colors.$primary-bg;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;

	@media screen and (min-width: breakpoints.$sm) {
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 50px;
	}

	@media screen and (min-width: breakpoints.$lg) {
		border-radius: 20px;
	}

	@media screen and (min-width: breakpoints.$xl) {
		margin-top: 60px;
	}
}

.title {
	width: fit-content;
	text-transform: uppercase;
	font-family: fonts.$font-primary;
	margin-bottom: 30px;
	font-size: fonts.$size-2xl;
	margin-bottom: 16px;
	cursor: pointer;
	transition-duration: 100ms;
	color: transparentize(colors.$text-primary, 0.1);
	&:hover {
		color: colors.$text-primary;
	}

	@media (min-width: breakpoints.$md) {
		font-size: fonts.$size-3xl;
		margin-bottom: 20px;
	}

	@media (min-width: breakpoints.$lg) {
		font-size: fonts.$size-4xl;
		margin-bottom: 25px;
	}

	@media (min-width: breakpoints.$xl) {
		font-size: 3.125rem;
		margin-bottom: 30px;
	}

	&__link {
		width: fit-content !important;
		transition-duration: 150ms;
	}
}

.more {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
