@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';


.motion {
	position: absolute;
	top: 56%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__icon {
		color: colors.$text-primary;
		width: 2.5rem;
		height: 2.5rem;

		@media screen and (min-width: breakpoints.$xs) {
			width: 3rem;
			height: 3rem;
		}
	}
}
