@use '@/styles/variables/fonts';
@use '@/styles/variables/colors';

.page {
	max-width: 450px;
	width: 100%;
	padding: 30px 0;

	&__title {
		font-size: fonts.$size-3xl;
		font-family: fonts.$font-primary;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 1.25rem;
	}
}

.forgot-password-link {
	color: colors.$gray;
	transition: color 100ms;
	width: fit-content;
	margin-top: 0.75rem;
    display: block;
	font-size: fonts.$size-sm;
	line-height: 125%;

	&:hover {
		color: colors.$text-primary;
        text-decoration: underline;
	}
}

.register {
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;

	&__text {
		font-size: fonts.$size-sm;
		line-height: 125%;
	}

	&__link {
		font-size: fonts.$size-sm;
		line-height: 125%;
		font-weight: 400;
		color: colors.$primary;
		opacity: 0.9;
		transition: opacity 100ms;

		&:hover {
			text-decoration: underline;
			opacity: 1;
		}
	}
}
