@use "@/styles/variables/fonts";
@use "@/styles/variables/mixins";

.form {
	width: 100%;
	max-width: 450px;

	&__wrapper {
		@include mixins.account-block();
		padding: 30px;
		width: 100%;

		@media (max-width: 600px) {
			@include mixins.flex($justify: flex-start, $direction: column);
			padding: 20px 25px;
		}
	}

	&__submitBtn {
		height: 60px !important;
		width: 100%;

		& * {
			font-size: fonts.$size-xl;
		}

		@media (max-width: 600px) {
			height: 45px !important;

			& * {
				font-size: fonts.$size-base;
				line-height: 19.2px;
			}
		}
	}

	&__label {
		text-transform: uppercase;
		line-height: 24px;
		font-size: fonts.$size-xl;
		font-family: fonts.$font-primary;

		@media (max-width: 600px) {
			font-size: fonts.$size-base;
			line-height: 19.2px;
		}
	}

	&__errorAlert {
		margin-bottom: 1.25rem !important;
	}

	&__item {
		margin-bottom: 20px !important;
	}
}
