@use 'src/styles/variables/colors';


.navbar {
	height: 100%;
    width: 260px;

	&__list {
		background: transparent;
	}

	&__separator {
		background: colors.$border;
		width: 100%;
		height: 2px;
        margin: 8px 0;
	}
}
