@use '@/styles/variables/colors';
@use '@/styles/variables/breakpoints';

.btn {

}

.icon {
	stroke-width: 1.5px;

	width: 1.75rem;
	height: 1.75rem;

	@media (min-width: breakpoints.$sm) {
		width: 2rem;
		height: 2rem;
	}

	@media (min-width: breakpoints.$lg) {
		width: 2.5rem;
		height: 2.5rem;
	}

	@media (min-width: breakpoints.$xl) {
		width: 3rem;
		height: 3rem;
	}
}
