@use '@/styles/variables/breakpoints';
@use '@/styles/variables/colors';
@use '@/styles/variables/fonts';


.play-overlay {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.container {
	outline: none;
	width: 100%;
	height: 100%;
	padding: 20px 20px;
	display: flex;
	align-items: center;

	@media (min-width: breakpoints.$sm) {
		font-size: fonts.$size-xl;
	}
	@media (min-width: breakpoints.$md) {
		padding: 20px 50px;
	}

	@media (min-width: breakpoints.$lg) {
		// padding: 50px 90px;
	}

	@media (min-width: breakpoints.$xl) {
		padding: 20px 100px;
	}
}

.controls {
	position: relative;
	max-height: 100%;
	width: 100%;
	aspect-ratio: 16/9;
}
