@use '@/styles/variables/colors';
@use '@/styles/variables/fonts';
@use '@/styles/variables/breakpoints';

.search {
	display: flex;
	align-items: center;
	height: 45px;
	overflow: hidden;
}

.input {
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	position: relative;
	height: 100% !important;
	padding: 0 10px;
	font-size: fonts.$size-xs;
	width: 80%;

	&:disabled {
		color: transparentize(colors.$text-primary, 0.3);
		cursor: default;
	}

	@media (min-width: breakpoints.$md) {
		font-size: fonts.$size-base;
		width: 350px !important;
	}

	&::placeholder {
		color: colors.$gray;
	}
}

.btn {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	width: 20% !important;
	height: 100% !important;

	@media (min-width: breakpoints.$md) {
		width: 45px !important;
		height: 45px !important;
	}

	&:disabled {
		background: darken(colors.$primary, 20%) !important;
		cursor: default;
	}
}

.icon {
	width: 18px;
	height: 18px;
	color: colors.$dark-main;
}
