.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%;
	z-index: -1;
	background: linear-gradient(0deg, #060711 0%, rgba(6, 7, 17, 0) 100%);
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	z-index: -1;
	background: linear-gradient(180deg, #060711 0%, rgba(6, 7, 17, 0) 100%);
}
