@use '@/styles/variables/fonts';
@use '@/styles/variables/mixins';
@use '@/styles/variables/breakpoints';

.profile {
	@include mixins.flex(
		$justify: flex-start,
		$align: flex-start,
		$direction: column,
		$gap: 20px
	);
	max-width: 890px;
	width: 100%;
	padding-top: 70px;

	@media (max-width: 1200px) {
		padding-top: 0;
		max-width: unset;
	}

	@media (max-width: 1200px) {
		max-width: unset;
	}
}

.title {
	font-family: fonts.$font-primary;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 60px;

	@media (max-width: 1200px) {
		display: none;
	}
}

.bread-crumbs {
	margin-bottom: 6px;

	@media (min-width: breakpoints.$md) {
		margin-bottom: 10px;
	}

	@media (min-width: breakpoints.$xl) {
		margin-bottom: 16px;
	}

	@media (min-width: breakpoints.$xxl) {
		margin-bottom: 20px;
	}
}
