@use '@/styles/variables/colors';


.base {
	width: 24px;
	height: 24px;
	color: colors.$text-primary;
	stroke-width: 2px;
	fill: transparent;

}

.fill {
	fill: currentColor;
}

.stroke {
	stroke: currentColor;
}
